<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Passageiros</title>
</head>
<body>

<h1>Passageiros</h1>

<a th:href="@{/passageiros/novo}">Novo Passageiro</a>

<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Número</th>
        <th>Empresa</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Viagem</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="passageiro : ${passageiros}">
        <td th:text="${passageiro.nome}"></td>
        <td th:text="${passageiro.sobrenome}"></td>
        <td th:text="${passageiro.numero}"></td>
        <td th:text="${passageiro.empresa}"></td>
        <td th:text="${passageiro.rg}"></td>
        <td th:text="${passageiro.cpf}"></td>
        <td th:text="${passageiro.idViagem != null ? passageiro.idViagem.id : 'Sem viagem'}"></td>

        <td>
            <a th:href="@{/passageiros/editar/{id}(id=${passageiro.id})}">Editar</a>
            <a th:href="@{/passageiros/deletar/{id}(id=${passageiro.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>