<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Endereços</title>
</head>
<body>

<h1>Endereços</h1>

<a th:href="@{/motoristas/novo}">Novo motorista</a>

<table border="1">
<thead>
<tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>RG</th>
    <th>CPF</th>
    <th>Ações</th>
</tr>
</thead>
<tbody>
<tr th:each="motorista : ${motoristas}">
    <td th:text="${motorista.nome}"></td>
    <td th:text="${motorista.sobrenome}"></td>
    <td th:text="${motorista.rg}"></td>
    <td th:text="${motorista.cpf}"></td>
    <td>
        <a th:href="@{/motoristas/editar/{id}(id=${motorista.id})}">Editar</a>
        <a th:href="@{/motoristas/deletar/{id}(id=${motorista.id})}">Deletar</a>
    </td>
</tr>
</tbody>
</table>

</body>
</html>