<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Viagens</title>
</head>
<body>

<h1>Viagens</h1>

<a th:href="@{/viagens/novo}">Nova Viagem</a>

<table border="1">
    <thead>
    <tr>
        <th>Origem</th>
        <th>Destino</th>
        <th>Motorista</th>
        <th>Veículo</th>
        <th>Evento</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="viagem : ${viagens}">
        <td th:text="${viagem.localDeOrigem.rua}"></td>

        <td th:text="${viagem.localDeDestino.rua}"></td>

        <td th:text="${viagem.idMotorista.nome}"></td>

        <td th:text="${viagem.idVeiculo}"></td>

        <td th:text="${viagem.idEvento != null ? viagem.idEvento.nome : 'Sem evento'}"></td>

        <td>
            <a th:href="@{/viagens/editar/{id}(id=${viagem.id})}">Editar</a>
            <a th:href="@{/viagens/deletar/{id}(id=${viagem.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>