<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garagem</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container">

    <h2>Cadastrar Endereco</h2>

    <form th:object="${endereco}" method="post" class="form-grid">

        <input type="hidden" th:field="*{id}">

        <label for="rua"> rua: </label>
        <input type="text" id="rua" th:field="*{rua}" required>
        <span th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" class="error"></span>

        <label for="numero"> número:</label>
        <input type="text" id="numero" th:field="*{numero}" required>
        <span th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}" class="error"></span>

        <label for="bairro"> bairro:</label>
        <input type="text" id="bairro" th:field="*{bairro}" required>
        <span th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}" class="error"></span>

        <label for="cidade"> cidade: </label>
        <input type="text" id="cidade" th:field="*{cidade}" required>
        <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}" class="error"></span>

        <label for="uf"> Hora Saída:</label>
        <input type="text" id="uf" th:field="*{uf}" required>
        <span th:if="${#fields.hasErrors('uf')}" th:errors="*{uf}" class="error"></span>

        <div class="form-botoes">

            <button type="submit" class="botao-link"> Salvar Vaga</button>

            <button type="reset" class="botao-link botao-limpar"> Limpar</button>

        </div>

    </form>
</div>

<script th:if="${mensagem != null}">
    Swal.fire({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: '[[${mensagem}]]',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true
    });
</script>

<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const data = Object.fromEntries(new FormData(form));
        await fetch("/enderecos", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });
    });
</script>

</body>
</html>