<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Garagem</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header>
  <h1>Garagem</h1>
  <nav>
    <a th:href="@{/cadastrarendereco}">Cadastrar endereco</a>
    <a th:href="@{/endereco}">Lista de enderecos</a>
  </nav>
</header>
<div class="container">
  <table border="1">
    <thead>
    <tr>
      <th>Código</th>
      <th>Placa</th>
      <th>Veiculo</th>
      <th>Data</th>
      <th>Entrada</th>
      <th>Saída</th>
      <th>Valor</th>
      <th colspan="2" class="acoes">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="endereco: ${enderecos}">
      <td th:text="${endereco.id}"></td>
      <td th:text="${endereco.rua}"></td>
      <td th:text="${endereco.numero}"></td>
      <td th:text="${endereco.bairro}"></td>
      <td th:text="${endereco.cidade}"></td>
      <td th:text="${endereco.uf}"></td>
      <td class="acoes">
        <a th:href="@{'/endereco/' + ${endereco.id} + '/editar'}" class="botao-acao editar">
          <i class="fas fa-edit"></i>
        </a>
      </td>
      <td class="acoes">
        <a th:href="@{'/endereco/' + ${endereco.id} + '/deletar'}"
           onclick="return confirm('Tem certeza que deseja excluir esta endereco?')"
           class="botao-acao excluir">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <a th:href="@{/cadastrarendereco}" class="botao-link">Cadastrar Nova endereco</a>
</div>
</body>
</html>